[mysqld]

# InnoDB
innodb_buffer_pool_size = 8G
innodb_flush_neighbors = 0
innodb_thread_concurrency = 12
innodb_write_io_threads = 8
innodb_read_io_threads = 8

# Binary logging
log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 7
sync_binlog = 1

# Slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-
